.ft1
{
    padding-top: 70px;
}
.ft2
{
    padding-top: 50px;
}
table {
    font-family: cursive;
    border-collapse: collapse;
    width: 100%;
}
td, th {
    border: 1px solid #dddddd;
    text-align: left;
    padding: 8px;
}
tr:nth-child(even) {
    background-color: #dddddd;
}
.c11
{
    text-align: center;
    color: cadetblue;
}
.d11
{
    color: #468499;
    text-align: left;
    font-size: 25px;
    background-color: #fff2cb;
    padding: 0 0 6px 30px;
}
.f11
{
    font-size: 18px;
    padding-left: 15px;
}
.o11
{
    color: coral;
}
.a11
{
    color: #059994;
}
.b11
{
    color: #88b7c5;
}
